<div class="container">
    <h1 class="title">Environment monitor</h1>
    <div class="form-group col-md-3">
        <label for="temp">Temperature:</label>
        <input type="text" class="form-control" [(ngModel)] = "environmentData.temp"  temp="temp" id="temp">
        <label for="hum">Humidity:</label>
        <input type="text" class="form-control" [(ngModel)] = "environmentData.hum" hum="hum" id="hum">
    </div>
    <button type="button" class="btn btn-default" (click)="getDataFromServer()">Update</button>
</div>