<div class="container">
    <h1 class="title text-center">CodeCool Environment Monitor</h1>
    <div class="panel-primary col-sm-6 col-sm-offset-3">
        <div class="form-group">
            <label for="temp">Temperature in °C :</label>
            <input type="text" class="form-control" [(ngModel)]="environmentData.temp" temp="temp" id="temp" disabled>
            <label for="hum">Humidity in %:</label>
            <input type="text" class="form-control" [(ngModel)]="environmentData.hum" hum="hum" id="hum" disabled>
        </div>
        <button type="button" class="btn btn-default" (click)="getDataFromServer()">Update</button>
    </div>
</div>